{% extends "layouts/base.html" %}

{% block title %}Listings | Dormy{% endblock title %}

{% block content %}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        /*background-color: #2196F3;*/
        padding: 30px;
    }

    .grid-container > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

</style>

<!-- SEARCH FILTER -->
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Price</button>
        <button class="dropdown-item" type="button">Distance</button>
        <button class="dropdown-item" type="button">Newest</button>
    </div>

    <div style="display: inline-block" class="offset-9 text-md-right">
        <div class="text-black ">
            <h6 class="title">Search Result: {{ qCount }}</h6>
        </div>
    </div>
</div>
<!-- END FILTER -->

<hr/>

<!-- LISTING LOOP -->
<div class="album py-5 bg-light">
    <div class="container">
        <h4>Search Query - Listing <i>Type:</i> {{ type if type else "None" }} | <i>Keywords:</i> {{ query if query else "None" }}</h4>
        <br />
        <div class="row">
        {% for listing in listings %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="/thumbnails/{{ listing.thumbnail }}" alt="Card image cap" width="100%" height="225" >
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">Apartment Description</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a href="/listings/{{listing.id}}"><button type="button"class="btn btn-sm btn-outline-secondary">View Detail</button></a>
                    </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<!-- END LISTING -->


<!-- PAGING -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<!-- End PAGEING -->

{% endblock content %}

