
<!-- RESPONSIVE HOMEPAGE -->
<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../css/template.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
  {% include "layouts/homepageNav.html" %}

  <div class="zone blue grid-wrapper" >

    <!-- CARD 1 -->
    <div  class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
      <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
        <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
          <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
      </a>
    </div>

    <!-- CARD 2 -->
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
        <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
          <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
            <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
        </a>
    </div>

    <!-- CARD 3 -->
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
        <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
          <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
            <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
        </a>
    </div>
    <!-- CARD 4 -->
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
        <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
          <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
            <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
        </a>
    </div>

    <!-- CARD 5 -->
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
        <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
          <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
            <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
        </a>
    </div>

    <!-- CARD 6 -->
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">       
        <a style="text-decoration:none" href="/listings/add" class="card-body text-primary">
          <h5 class="text-center" class="card-title">GREAT APPARTMENT NEAR CAMPUS</h5>
            <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
        </a>
    </div>
    

    <!-- <div class="box">
      <div class="grid-wrappers" >

      </div>
      <img class="card__image" class="card bg-light mb-3" alt="Car" style="width: 100%" src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
      <img  src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
    </div> -->
    <!-- <div class="box zone"><img src="./img/server_2_2.png">
    </div>
    <div class="box zone"><img src="./img/monitor_settings_2.png"></div>
    <div class="box zone"><img src="./img/server_3.png"></div>
    <div class="box zone"><img src="./img/data_storage_2_2.png"></div>
    <div class="box zone"><img src="./img/monitor_coding_2.png"></div> -->
  </div>
  {% include "layouts/footer.html" %}
</div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



