<!DOCTYPE html>
{% include "layouts/navigation.html" %}
<html lang="en">

<body>
<!--<a href="/listings/add">Add New Listing</a>-->

<!-- SECTION -->
<div class="sectiox">

    <!-- container -->
    <h4 class="title">RECENTLY POSTED</h4>
    <!-- NEW CONTAINER -->
    <div class="containers">
            <div class="zone green">
                <img src="https://cdn.houseplansservices.com/product/nefd91a8br9itgmjos2jvtltac/w300x200.jpg?v=9">
            </div>
            <div class="zone red">#2</div>
            <div class="zone blue">#3</div>
            <div class="zone yellow">#4</div>
            <div class="zone brown">#5</div>
            <div class="zone green">#6</div>
            <div class="zone red">#7</div>
            <div class="zone blue">#8</div>
    </div>
    <!-- /NEW CONTAINER -->




</body>
</html>

{% include "layouts/footer.html" %}