<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<title>Dormy</title>

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

		<!-- Custom stlylesheet -->
		<link rel="stylesheet" href="/css/mystyles.css" /> 

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"></i>THIS IS A SCHOOL PROJECT FROM SAN FRANCISCO STATE UNIVERSITY- TEAM 01</a></li>
					</ul>
				</div>
			</div>

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
                        <!-- LOGO -->
                            <!-- LOGO HERE -->
                        <!-- LOGO End-->
                        
						<div class="col-md-3">
                            <div class="header-logo">
                                <a href="#" class="logo">
                                    <p>Dormy LOGO HERE</p>
                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->

                        <!--  MAKE POST BUTTON -->
                        <a href="/listings/add" class="btn btn-danger">MAKE A POST</a>

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form action="/listings" class="search_form" id="search_form"> 
									<select name="type" class="input-select">
                                            <option value="">All</option>
                                            <option value="apartment">Apartment</option>
                                            <option value="house">House</option>
                                            <option value="condo">Condo</option>
                                        </select>
									<input class="input" placeholder="Search here" type="text" name="query" class="search_input" placeholder="Search...">
									<button class="search-btn">Search</button>
								</form>
							</div>
                        </div>

                        <!-- OLD SEARCH BAR -->
                        <!-- <div class="col-md-6">
                            <div class="header-search">
                                    <form action="/listings" class="search_form" id="search_form">
                                        <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                            <select name="type">
                                                <option value="">All</option>
                                                <option value="apartment">Apartment</option>
                                                <option value="house">House</option>
                                                <option value="condo">Condo</option>
                                            </select>
                                            <input type="text"
                                                   name="query"
                                                   class="search_input"
                                                   placeholder="Search...">
                                            <button class="search_button">Search</button>
                                        </div>
                                    </form>
                            </div>   
                        </div>
                         -->
                        <!-- /SEARCH BAR -->


                        
                        <!-- REGISTRATION MODAL -->
                            <!--Modal: Login / Register Form-->
                            <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog cascading-modal" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                
                                        <!--Modal cascading tabs-->
                                        <div class="modal-c-tabs">
                                
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                                            <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                                                Login</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                                                Register</a>
                                            </li>
                                        </ul>
                                
                                        <!-- Tab panels -->
                                        <div class="tab-content">
                                            <!--Panel 7-->
                                            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                                
                                            <!--Body-->
                                            <div class="modal-body mb-1">
                                                <div class="md-form form-sm mb-5">
                                                <i class="fas fa-envelope prefix"></i>
                                                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                                                </div>
                                
                                                <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                                                </div>
                                                <div class="text-center mt-2">
                                                <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                                                </div>
                                            </div>
                                            <!--Footer-->
                                            <div class="modal-footer">
                                                <div class="options text-center text-md-right mt-1">
                                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                                </div>
                                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                            </div>
                                
                                            </div>
                                            <!--/.Panel 7-->
                                
                                            <!--Panel 8-->
                                            <div class="tab-pane fade" id="panel8" role="tabpanel">
                                
                                            <!--Body-->
                                            <div class="modal-body">
                                                <div class="md-form form-sm mb-5">
                                                <i class="fas fa-envelope prefix"></i>
                                                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                                                </div>
                                
                                                <div class="md-form form-sm mb-5">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                                                </div>
                                
                                                <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                                                </div>
                                
                                                <div class="text-center form-sm mt-2">
                                                <button class="btn btn-info">Sign u <i class="fas fa-sign-in ml-1"></i></button>
                                                </div>
                                
                                            </div>
                                            <!--Footer-->
                                            <div class="modal-footer">
                                                <div class="options text-right">
                                                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                                </div>
                                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                            <!--/.Panel 8-->
                                        </div>
                                
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Login / Register Form-->
                                
                                <div class="text-center">
                                    <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</a>
                                </div>
                        <!-- REGISTRATION MODAL END -->

					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- SECTION -->
		<div class="section">
            <!-- container -->
            <h4 class="title">RECENTLY POSTED</h4>
			<div class="container">
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
			
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>summary</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>address</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>Phone number</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">#1</a></li>
									<li><a href="#">#2</a></li>
									<li><a href="#">#3</a></li>
									<li><a href="#">#4</a></li>
									<li><a href="#">#5</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">#1</a></li>
									<li><a href="#">#2</a></li>
									<li><a href="#">#3</a></li>
									<li><a href="#">#4</a></li>
									<li><a href="#">#5</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div>
                Copyright Dormy, SFSU Spring 2019 648
            </div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>
