<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/template.css">
</head>

{% include "layouts/homepageNav.html" %}

<body>

<!-- SECTION -->
<div class="col-md-3">
    <h4 class="title">Search result: {{ qCount }}</h4>
</div>


<br />
<!-- Search filter -->

<form class="form-inline my-2 my-lg-0" action="/listings" class="search_form" id="search_form">
        <div class="col-md-3">
            <h3>Distance From SFSU: </h3>
            <button  name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <option value="">2 miles</option> </button>
            <button name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <option value="apartment">4 miles</option>
            </button>
            <button  name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <option value="house">6 miles or above</option>
            </button>
        </div>
</form>
<!-- End Search Filter -->


<!-- Listing loop -->
{% for listing in listings %}

<div class=" offset-md-2 zone grid-wrapper position-relative">
    <div  href="/individualListing.html">
        <a href="/individualListing.html">
            <img class="image" src="../thumbnails/{{listing.thumbnail}}" width="430px" height="285px"  alt="{{listing.title}}"/>
        </a>
       </div>
    <div class="d-lg-block text-lg-center" style="color: #0b0b0b; font-size: 16px;">
        <div class="border-left-0 text-left font-weight-bold">
            <tr>
                <ul>Type: {{ listing.type }}</ul>
                <ul>Title: {{ listing.title }}</ul>
                <ul>Address: {{ listing.address }}</ul>
                <ul>Beds: {{ listing.beds }}</ul>
                <ul>Baths: {{ listing.baths }}</ul>
                <ul>Rent: ${{ listing.rent }}/month</ul>
                <ul>Distance from SFSU: {{ listing.distance }} miles</ul>
                <!--<li>Added: {{ listing.created }}</li>-->
            </tr>
        </div>
    </div>
</div>
<br />
{% else %}
<li>No listings available...</li>
{% endfor %}

<!-- End Listing Loop -->

{% include "layouts/footer.html" %}

<!-- END-SECTION -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


