.title{
	color: black;
	text-align: center;
}

.image{
	text-align: center;
}
.box-1{
	float: right;
	width:20%;
	padding: 10px;
	background-color:tan;
	margin-top: 200px;
	margin-right: 200px;
	/*margin:auto;*/
	box-sizing:border-box;
}

.box-1 h3{
	text-align: center;
	text-decoration: underline;
	float: right;
	margin-right: 150px;
	margin-top: 15px;
	text-decoration: underline;
}

.button{
	background-color: #333;
	color:#fff;
	padding: 10px 15px;
	border: none;
}
.review{
	
}
/*

.listing-description{
	border:3px solid #ccc;
	float: right;
	margin-top: 200px;
	margin-right: 60px;
}


/*
.image h3{
	float: right;
	margin-right: 150px;
	margin-top: 150px;
	text-decoration: underline;
}*/



