body {
    margin: 0 auto;
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color: #FFF;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}


/***********************************************************************
 *  Cover
 **********************************************************************/
.container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    background-color: white;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
    border: 5px dashed purple;
}

.card__image {
    color: white;
    text-align: center;
    padding-inline-start: 5px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    padding-inline-end: 5px;
    background-color: #f5f5f6;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;

}


/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
}


/***********************************************************************
 *  white Background
 **********************************************************************/
.white {
    background: white; /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, white 44%, white 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(44%, white), color-stop(100%, white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, white 44%, white 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, white 44%, white 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, white 44%, white 100%); /* IE10+ */
    background: linear-gradient(top, white 0%, white 44%, white 100%); /* W3C */
}

/* Make a post */
.makeA {
    position: relative;
    right: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-inline-start: 160px;
}

/* padding for user registration, login, + */
.makeAP {
    position: relative;
    right: 1px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-inline-start: 238px;
}

/* padding for make a post and search bar */
.navbar-brand {
    padding-inline-start: 10px;
}

/* SEARCH PADDING */
.searchPadding {
    padding-inline-start: 57px;
}

/* TOP HEADER */
.top-header {
    height: 100px;
    height: 50px;
    background-color: red;
    text-align: center;
}

.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}

.contains {
    border-radius: 4px;
    border: 1px solid #bbb;
}

/* IMAGE on home page */
.card__image{
    border-radius: 10px;
    width: 100%;
    height: 350px;
}

/* done */
@media(max-width: 2000px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }  
    /* IMAGE on home page */
    .card__image{
        border-radius: 10px;
        width: 100%;
        height: 350px;
    } 

    /* padding for dormy */
    .navbar-brand {
        padding-inline-start: 10px;
    }

    /* Make a post */
    .makeA {
        position: relative;
        right: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-inline-start: 375px;
    }

    /* SEARCH bar */
    .searchPadding {
        padding-inline-start: 150px;
    }

    /* padding for user registration, login, + */
    .makeAP {
        position: relative;
        right: 1px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-inline-start: 500px;
    }
}

/* done */
@media(max-width: 1500px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* padding for dormy */
    .navbar-brand {
        padding-inline-start: 10px;
    }

    /* Make a post */
    .makeA {
        position: relative;
        right: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-inline-start: 190px;
    }

    /* SEARCH bar */
    .searchPadding {
        padding-inline-start: 40px;
    }

    /* padding for user registration, login, + */
    .makeAP {
        position: relative;
        right: 1px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-inline-start: 230px;
    }
   
}

@media(max-width: 1366px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* padding for dormy */
    .navbar-brand {
        padding-inline-start: 10px;
    }

    /* Make a post */
    .makeA {
        position: relative;
        right: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-inline-start: 190px;
    }

    /* SEARCH bar */
    .searchPadding {
        padding-inline-start: 40px;
    }

    /* padding for user registration, login, + */
    .makeAP {
        position: relative;
        right: 1px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-inline-start: 200px;
    }
   
}

/* ipads*/
@media(max-width: 1024px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* IMAGE on home page */
    .card__image{
        border-radius: 10px;
        width: 100%;
        height: 250px;
    } 

    /* padding for dormy */
    .navbar-brand {
        padding-inline-start: 10px;
    }

    /* Make a post */
    .makeA {
        position: relative;
        right: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-inline-start: 10px;
    }

    /* SEARCH bar */
    .searchPadding {
        padding-inline-start: 6px;
    }

    /* padding for user registration, login, + */
    .makeAP {
        position: relative;
        right: 1px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-inline-start: 10px;
    }
    
}

/* queries for containers */
@media(max-width: 414px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* IMAGE on home page */
    .card__image{
        border-radius: 10px;
        width: 100%;
        height: 250px;
    } 
    
}

@media(max-width: 375px){
    .grid-wrapper {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }
}




/***********************************************************************
 *  Grid Panel for Listings
 **********************************************************************/
 .grid-wrappers {
    background-color: red;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    border-inline-end-width: 0px;
    border-inline-start-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 100%;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
    border: 5px dashed white;
}

.card__image {
    color: white;
    text-align: center;
    padding-inline-start: 5px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    padding-inline-end: 5px;
    background-color: #f5f5f6;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;

}

/* Listings */
.filter {
    background-color: #f8f9fa;
    height: 300px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    border-style: groove;
    border-width: 2px;
    padding-top: 10px;
    margin-block-start: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card__images {
    border-radius: 10px;
    width: 100%;
    height: 300px;
} 



/* INFORMATION CSS */
.list-card-info {
    grid-area: bottom;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto) [3];
    grid-template-rows: repeat(3,auto);
    min-height: auto;
}

.price {
    color: black;
    font-size: 30px;
}

.address {
    color: black;
    font-size: 20px;
}

.type-item {
    color: black;
    size: 20px;  
    text-align: right;
}

.top-tittle {
    color: blue;
    size: 60px;
    text-align: center;

}