<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md"></div>
          <div class="col-6 col-md">
            <h5>For Students</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/">Home</a></li>
              <li><a class="text-muted" href="/listings">Listings</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>For Landlords</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/account">Dashboard</a></li>
              <li><a class="text-muted" href="/listings/add">Post New Listing</a></li>
              <li><a class="text-muted" href="/account">Listings</a></li>
              <li><a class="text-muted" href="/account">Messages</a></li>
              <li><a class="text-muted" href="/account">Settings</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="flaticon-hotel">Dormy</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/account/login">Login</a></li>
              <li><a class="text-muted" href="/account/register">Register</a></li>
            </ul>
          </div>
        </div>
      </footer>
