<div class="top-header">
    <ul><a></i>THIS IS A SCHOOL PROJECT FROM SAN FRANCISCO STATE UNIVERSITY- TEAM 01</a></ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">DORMY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="makeA">

            <li class="nav-item active">
                <a class="btn btn-outline-primary" href="/listings/add">MAKE A POST <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="searchPadding">
                <form class="form-inline my-2 my-lg-0" action="/listings" class="search_form" id="search_form">
                    <select name="type" class="input-select">
                        <option value="">All</option>
                        <option value="apartment">Apartment</option>
                        <option value="house">House</option>
                        <option value="condo">Condo</option>
                    </select>
                    <input class="form-control mr-sm-2" class="input" placeholder="Address, ZIP code" type="text" name="query"
                        class="search_input" placeholder="Search...">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="makeAP">

                <!-- REGISTER -->
                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Register Now!</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                
                            <div class="modal-body mx-3">
                                    <form method="POST" action="/account/register">

                                        <!-- NAME -->
                                        <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Name</label>
                                                <input type="text" name="first_name" id="defaultForm-pass" class="form-control validate" maxlength="15" placeholder="First Name" required>
                                        </div>
        
                                        <!-- LAST NAME -->
                                        <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Last Name</label>
                                                <input type="text" name="last_name"  id="defaultForm-pass" class="form-control validate" maxlength="15"  placeholder="Last Name"required>
                                        </div>

                                        <!-- EMAIL -->
                                        <div class="md-form mb-5">
                                                <i class="fas fa-envelope prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                                                <input name="email" name="email" type="email" id="defaultForm-email" class="form-control validate" placeholder="Enter email" required>
                                                <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                                                <input type="password" name="password"  id="defaultForm-pass" class="form-control validate" pattern=".{8,20}" title="Must be 8-20 characters long." placeholder="Password" required> 
                                                <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>                           
                                        </div>
        
                                        <!-- Phone Number-->
                                        <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Phone number</label>
                                                <input type="tel" name="phone"  id="defaultForm-pass" class="form-control validate" pattern="^\d{3}-\d{3}-\d{4}$" title="Format: XXX-XXX-XXXX" placeholder="Phone Number" required>
                                                <small id="passwordHelpInline" class="text-muted">Phone number must be 10 digits.</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button class="btn btn-success">Register Now!</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
                <!-- /REGISTER -->
            <li>
                <a class="btn btn-outline-warning" href="#" data-toggle="modal" data-target="#modalLoginForm">Register
                    <span class="sr-only">(current)</span></a>
            </li>

            <!-- LOGIN -->
            <div class="modal fade" id="modalLoginForms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Log in</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <form method="POST" action="/account/login" >
                                <div class="md-form mb-5">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                                    <input type="email" name="email" id="defaultForm-email" class="form-control validate" class="form-control validate" placeholder="Enter email" required>
                                </div>
    
                                <div class="md-form mb-4">
                                    <i class="fas fa-lock prefix grey-text"></i>
                                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                                    <input type="password" name="password" id="defaultForm-pass" class="form-control validate" class="form-control validate" pattern=".{8,20}" title="Must be 8-20 characters long." placeholder="Password" required>
                                    <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>   
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /LOGIN -->

            <li>
                <a class="btn btn-outline-warning" href="#" data-toggle="modal"
                    data-target="#modalLoginForms">Login<span class="sr-only">(current)</span></a>
            </li>
            </li>

            </li>
        </ul>
        </ul>
    </div>
</nav>