<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/addlisting.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href="../plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.3.4/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.3.4/animate.css">
    <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">
    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/elements.css">
    <link rel="stylesheet" type="text/css" href="../styles/elements_responsive.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mystyles.css" />

    <title>Dormy - Rental Services</title>
</head>
<body>

<!--<header class="header">-->
    <!--<div class="header_background"><div class="background_image" style="background-image:url(images/cta.jpg)"></div></div>-->
    <!--<div class="header_overlay"></div>-->

    <!--<div class="site-navbar header_content">-->
        <!--<div class="container ">-->
            <!--<div class=" align-items-center ">-->
                <!--<h1><a href="/" class="text-black h1 flaticon-hotel">Dormy - Home Rental Service</a></h1>-->
                <!--<div class="d-xl-block">-->
                    <!--<nav class=" site-navigation position-relative text-right text-lg-center">-->

                        <!--<div class="header-search">-->
                            <!--&lt;!&ndash; SEARCH BAR &ndash;&gt;-->
                            <!--<form action="/listings" class="search_form" id="search_form">-->
                                <!--<select name="type" class="input-select">-->
                                    <!--<option value="">All</option>-->
                                    <!--<option value="apartment">Apartment</option>-->
                                    <!--<option value="house">House</option>-->
                                    <!--<option value="condo">Condo</option>-->
                                <!--</select>-->
                                <!--<input class="input" placeholder="Search here" type="text" name="query" class="search_input" placeholder="Search...">-->
                                <!--<button class="search-btn">Search</button>-->
                            <!--</form>-->

                        <!--</div>-->

                        <!---->
                        <!--<ul class="site-menu text-right  d-lg-block" >-->
                            <!--&lt;!&ndash;  MAKE POST BUTTON &ndash;&gt;-->
                            <!--<li>-->
                                <!--<a href="/listings/add" >MAKE A POST</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="/listings">Listings</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</a>-->
                            <!--</li>-->

                            <!--&lt;!&ndash; REGISTRATION MODAL END &ndash;&gt;-->
                        <!--</ul>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</header>-->



 <!--HEADER-->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"></i>THIS IS A SCHOOL PROJECT FROM SAN FRANCISCO STATE UNIVERSITY- TEAM 01</a></li>
            </ul>
        </div>
    </div>
    <!-- MAIN HEADER -->
    <div id="header">

        <div class="header_background"><div class="background_image" style="background-image:url(../images/cta.jpg)"></div></div>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <!-- LOGO HERE -->
                <!-- LOGO End-->

                <div class="col-md-3">
                    <div class="header-logo">

                        <a href="/" class="logo">
                            <img src="../images/dormyprofile.jpg" width="100" height="100">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->


                 <!--SEARCH BAR-->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="/listings" class="search_form" id="search_form">
                            <select name="type" class="input-select">
                                <option value="">All</option>
                                <option value="apartment">Apartment</option>
                                <option value="house">House</option>
                                <option value="condo">Condo</option>
                            </select>
                            <input class="input" placeholder="Search here" type="text" name="query" class="search_input" placeholder="Search...">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!--Modal: Login / Register Form-->
                <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog cascading-modal" role="document">
                        <!--Content-->
                        <div class="modal-content">

                            <!--Modal cascading tabs-->
                            <div class="modal-c-tabs">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                                            Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                                            Register</a>
                                    </li>
                                </ul>

                                <!-- Tab panels -->
                                <div class="tab-content">
                                    <!--Panel 7-->
                                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                                        <!--Body-->
                                        <div class="modal-body mb-1">
                                            <div class="md-form form-sm mb-5">
                                                <i class="fas fa-envelope prefix"></i>
                                                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                                            </div>

                                            <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                                            </div>
                                            <div class="text-center mt-2">
                                                <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                                            </div>
                                        </div>
                                        <!--Footer-->
                                        <div class="modal-footer">
                                            <div class="options text-center text-md-right mt-1">
                                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                            </div>
                                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                    <!--/.Panel 7-->

                                    <!--Panel 8-->
                                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                                        <!--Body-->
                                        <div class="modal-body">
                                            <div class="md-form form-sm mb-5">
                                                <i class="fas fa-envelope prefix"></i>
                                                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                                            </div>

                                            <div class="md-form form-sm mb-5">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                                            </div>

                                            <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"></i>
                                                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                                            </div>

                                            <div class="text-center form-sm mt-2">
                                                <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                                            </div>

                                        </div>
                                        <!--Footer-->
                                        <div class="modal-footer">
                                            <div class="options text-right">
                                                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                            </div>
                                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!--/.Panel 8-->
                                </div>

                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: Login / Register Form-->



                <div class="text-center">
                    <!--  MAKE POST BUTTON -->
                    <a href="/listings/add" class="btn btn-danger">MAKE A POST</a>

                    <a href="#" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</a>
                </div>
                <!-- REGISTRATION MODAL END -->

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
 <!--/HEADER-->
<script src="js/bootstrap.min.js"></script>

</body>

</html>