

<!doctype html>
<html>
<head>
    {% extends "layouts/base.html" %}
    {% block head %}

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <title>{% block title %}Dashboard | Dormy{% endblock title %}
    </title>
    {% endblock %}
</head>
<body>

<div >{% block content %}<div class="container">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-signin my-4">
                        <div class="card-body">
                            <br>
                            <h1 class="card-title" style="color: #17a2b8"><span
                                    style="font-size: 172%; ">Dashboard</span></h1>
                            <hr style="background-color: #9575cd">
                            <div>
                                <div class="row">
                                    <div class="col-lg-12">

                                    </div>
                                </div>
                            </div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" style="color: burlywood" data-toggle="tab"
                                       href="#home">MESSAGES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: burlywood" data-toggle="tab" href="#menu1">LISTINGS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: burlywood" data-toggle="tab"
                                       href="#menu2">SETTINGS</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->

                            <div class="tab-content bg-light">

                                <!-- MESSAGES TAB -->
                                <div id="home" class="container tab-pane active show"><br>
                                    <h1 class="card-title" style="color: bisque"><span style="font-size: 172%; ">Welcome, Person</span>
                                    </h1>
                                    <h5 class="card-title"><strong>Here are your messages:</strong></h5>
                                    <br>
                                    <div class="table-responsive-lg">
                                        <table class="table" >
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col" onclick="">Listings
                                                </th>
                                                <th scope="col" onclick="">FROM
                                                </th>
                                                <th scope="col">Read</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- LISTINGS TAB -->
                                <div id="menu1" class="container tab-pane fade"><br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <p class="h2" style="color:indigo">My Listings</p>
                                            </div>
                                            <div class="col">
                                                <div class="text-left">
                                                    <a href="" class="btn btn-success btn-raised">Add
                                                        Listings</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive-lg">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Listings</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                            </thead>


                                        </table>
                                    </div>
                                </div>

                                <!--SETTINGS TAB -->
                                <div id="menu2" class="container tab-pane fade"><br>
                                    <h2>Change Settings</h2>
                                    <div class="container-fluid">
                                        <br>
                                        <p class="h2" style="color:indigo">Update Profile Picture</p>
                                        <hr style="background-color: #9575cd">

                                        <form class="form-signin form-group" method="POST"
                                              action="" enctype="multipart/form-data">
                                            <img src="images/noprofile.jpg" alt="profilePic" width="256">
                                            <br><br>
                                            <!-- Item Photo-->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input id="logo" type="file" name="image" accept="image/*"
                                                               class="custom-file-input" style="border: 1px"
                                                               required="">
                                                        <label for="logo" class="custom-file-label text-truncate">Choose
                                                            file...</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Submit SignUp Form-->
                                            <button class="btn btn-md btn-success btn-raised" type="submit"
                                                    id="create_account"
                                                    style="color: white; background-color: #9575cd; border-color: #9575cd; ">
                                                Update Profile Picture
                                            </button>
                                        </form>
                                        <br><br>

                                        <form class="form-horizontal" action="" method="post">

                                            <div class="row">
                                                <p class="h2" style="color:indigo">Update Password</p>
                                                <hr style="background-color: #9575cd">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <br>
                                                        <label for="form_password">Change Password
                                                            <small>(8 character minimum) *</small>
                                                        </label>
                                                        <input id="form_password" type="password" name="password"
                                                               class="form-control"
                                                               placeholder="Please Enter Your Password" maxlength="40"
                                                               pattern="^[A-Za-z0-9 ]*$"
                                                               title="Alphanumeric Characters Only" required="required">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="form_confirm_password">Confirm Password *</label>
                                                        <input id="form_confirm_password" type="password"
                                                               name="confirmpassword" class="form-control"
                                                               placeholder="Please Re-Enter Your Password"
                                                               maxlength="40" pattern="^[A-Za-z0-9 ]*$"
                                                               title="Alphanumeric Characters Only" required="required">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                    <button class="btn btn-md btn-success btn-raised" formmethod="post"
                                                            type="submit"
                                                            style="color: white; background-color: #9575cd; border-color: #9575cd; ">
                                                        Update Password
                                                    </button>
                                                </div>
                                                <input type="hidden" id="user_id" name="user_id" value="13">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--closes tab content from messages tab-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </div>
</div>
    {% endblock %}</div>




</body>
</html>