{% extends "layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/style4.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link rel="stylesheet" href="/css/my-styles.css">
{% endblock stylesheets %}

{% block title %}Dashboard | Dormy{% endblock title %}

{% block content %}


<div class="container-fluid">
    <h1 class="card-title"><span>Welcome, {{user.first_name}}!</span>
    </h1>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DASHBOARD</h3>
            </div>

            <ul class="list-unstyled components nav flex-column" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" style="color: #1ade1d" data-toggle="tab"
                       href="#pending">Pending Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #68de22" data-toggle="tab" 
                        href="#listings">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #5ade26" data-toggle="tab"
                       href="#users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #5ade26" data-toggle="tab"
                       href="#settings">Settings</a>
                </li>
            </ul>
        </nav>


        <!-- Tab panes -->
        <div class="tab-content bg-light">
            <!-- PENDING LISTINGS TAB -->
            <div id="pending" class="container tab-pane active show"><br>
                <div class="container">
                    <div class="row">
                        <p class="h2">Pending Listings</p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Created</th>
                        <th scope="col">Link</th>
                        <th scope="col">Accept</th>
                        <th scope="col">Reject</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pending %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.address}}</td>
                        <td>{{item.rent}}</td>
                        <td>{{item.created}}</td>
                        <td>
                            <a href="/listings/{{item.id}}" target="_blank"><button type="button"class="btn btn-sm btn-outline-secondary">View Detail</button></a>
                        </td>
                        <td>
                            <button type="button" value = "{{item.id}}" class="btn btn-sm btn-outline-secondary" onclick="accept(this.value)">Accept</button>
                            <!--HTML forms apparently do not support operations besides GET and POST so using form method = "PUT"
                            is not a thing-->
                        </td>
                        <td>
                                <button type="button" value = "{{item.id}}" class="btn btn-sm btn-outline-secondary" onclick="reject(this.value)">Reject</button>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- LISTINGS TAB -->
            <div id="listings" class="container tab-pane fade"><br>
                <div class="container">
                    <div class="row">
                        <p class="h2">Active Listings</p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Created</th>
                        <th scope="col">Link</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                    <tr>
                        <th scope="row">{{listing.id}}</th>
                        <td>{{listing.address}}</td>
                        <td>{{listing.rent}}</td>
                        <td>{{listing.created}}</td>
                        <td>
                            <a href="/listings/{{listing.id}}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    View Listing
                                </button>
                            </a>
                        </td>
                        <td>
                                <button type="button" value = "{{item.id}}" class="btn btn-sm btn-outline-secondary" onclick="deleteListing(this.value)">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- USERS TAB -->
            <div id="users" class="container tab-pane fade"><br>
                <div class="container">
                    <div class="row">
                        <p class="h2">All Users</p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Blocked</th>
                        <th scope="col">Block</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.banned }}</td>
                        <td>
                                <button type="button" value = "{{user.id}}" class="btn btn-sm btn-outline-secondary" onclick="block(this.value)">Block</button>
                        </td>
                        <td>
                                <button type="button" value = "{{user.id}}" class="btn btn-sm btn-outline-secondary" onclick="deleteUser(this.value)">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!--SETTINGS TAB -->
            <div id="settings" class="container tab-pane fade"><br>
                <h2>Update Password</h2>
                <div class="container-fluid">
                    <form class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <br>
                                    <input id="form_password" type="password" name="password"
                                           class="form-control"
                                           placeholder="New Password" maxlength="40"
                                           pattern="^[A-Za-z0-9 ]*$"
                                           title="Alphanumeric Characters Only" required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="form_confirm_password" type="password"
                                           name="confirmpassword" class="form-control"
                                           placeholder="New Password Again"
                                           maxlength="40" pattern="^[A-Za-z0-9 ]*$"
                                           title="Alphanumeric Characters Only" required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <button class="btn btn-md btn-success btn-raised" formmethod="post"
                                        type="submit"
                                        style="color: white; background-color: #9575cd; border-color: #9575cd; ">
                                    Update Password
                                </button>
                            </div>
                            <input type="hidden" id="user_id" name="user_id" value="13">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function accept(val)
    {
        var Data = {
            id : val
        };
        var Prams = {
            body : Data,
            method : "PUT"
        };
        fetch('/admin/accept', Prams)
        .then(function(response) {
            if(response.ok) {
                console.log('accept request ok');
                return;
            }
            throw new Error('Put Request for Accepting failed.');
        })
    };

    function reject(val)
    {
        var Data = {
            id : val
        };
        var Prams = {
            body : Data,
            method : "DELETE"
        };
        fetch('/admin/reject', Prams)
        .then(function(response) {
            if(response.ok) {
                console.log('reject request ok');
                return;
            }
            throw new Error('DELETE Request for Rejecting failed.');
        })
    };
    // const button = document.getElementById('acceptButton');
    // button.addEventListener('click', function(e) {
    //   fetch('/admin/accept', {method: 'PUT'})
    //     .then(function(response) {
    //         if(response.ok) {
    //             console.log('accept request ok');
    //             return;
    //         }
    //         throw new Error('Put Request for Accepting failed.');
    //     })
    //     .catch(function(error) {
    //       console.log(error);
    //     });
    // });

    //     const button = document.getElementById('rejectButton');
    //     button.addEventListener('click', function(e) {
    //       fetch('/admin/reject', {method: 'DELETE'})
    //         .then(function(response) {
    //             if(response.ok) {
    //                 console.log('reject request ok');
    //                 return;
    //             }
    //             throw new Error('DELETE Request for Rejecting failed.');
    //         })
    //         .catch(function(error) {
    //           console.log(error);
    //         });
    //     });


    function deleteListing(val)
    {
        var Data = {
            id : val
        };
        var Prams = {
            body : Data,
            method : "DELETE"
        };
        fetch('/admin/deleteListing', Prams)
        .then(function(response) {
            if(response.ok) {
                console.log('delete listing request ok');
                return;
            }
            throw new Error('DELETE Request for Delete Listing failed.');
        })
    };

    function deleteUser(val)
    {
        var Data = {
            id : val
        };
        var Prams = {
            body : Data,
            method : "DELETE"
        };
        fetch('/admin/deleteUser', Prams)
        .then(function(response) {
            if(response.ok) {
                console.log('delete user request ok');
                return;
            }
            throw new Error('DELETE Request for Delete User failed.');
        })
    };

    function block(val)
    {
        var Data = {
            id : val
        };
        var Prams = {
            body : Data,
            method : "PUT"
        };
        fetch('/admin/block', Prams)
        .then(function(response) {
            if(response.ok) {
                console.log('block uesr request ok');
                return;
            }
            throw new Error('PUT Request for Block User failed.');
        })
    };




    
    </script>

{% endblock content %}
